<form>
  <h1>Theme</h1>
  <div class="form-group">
    <label>Layout</label>
    <select name="layout">
      {{#select actor.flags.swnr-space-magic.sheet-theme.layout}}
      <option value="default">Default</option>
      <option value="new1">New</option>
      {{/select }}
    </select>
  </div>
</form>