<form class="magic-casting-modal">
    <header>
        <h1>Cast spell as {{ token.document.name }}</h1>
    </header>
    <div class="magic-casting-content">
        <aside class="magic-casting-sidebar">
        <h2>Skills</h2>
        <ul>
            {{#each magicSkills}}
            <li>
                <button
                    type="button"
                    class="mage-roll-skill"
                    data-name="{{ name }}"
                    data-rank="{{ rank }}"
                    data-actor="{{ actor }}"
                >
                    {{name}}: {{rank}}
                </button>
            </li>
            {{/each}}
        </ul>
        <h2>Spell Slots</h2>
        <ul>
            {{#each maxSpellSlots}}
                {{#if this}}
                <li>{{ @key }}: {{lookup ../spellSlots @key}}/{{ this }}</li>
                {{/if}}
            {{/each}}
        </ul>
        {{ log spellSlots }}
        </aside>
        <main class="magic-casting-spell-list">
            <div class="magic-casting-spells-nav-wrap">
            <h2 id="magic-casting-spell-tabs">Spells</h2>
            <nav class="magic-casting-spells-nav" data-group="spell-list-nav">
                {{#each spells as |spelllist level|}}
                    <a
                        type="button"
                        class="item mage-spell-level-tab"
                        data-tab="spell-level-{{level}}"
                    >
                        Level {{level}}
                    </a>
                {{/each}}
            </nav>
            </div>
            <section class="magic-casting-spell-level-panels" data-group="spell-list-nav">
                {{#each spells as |spelllist level|}}
                    <div class="tab magic-casting-spell-level-panel" data-tab="spell-level-{{level}}">
                        <h3>Prepared Spells {{level}}</h3>
                        <h3>Spell List</h3>
                        {{#each spelllist as |spell|}}
                            <article class="magic-casting-spell-def">
                                <h4>{{ spell.name }}</h4>
                                <button type="button" class="magic-casting-cast-btn" data-level="{{spell.system.level}}" data-actor="{{../../actor}}">Cast</button>
                                <div class="magic-casting-spell-def-description">
                                    {{{ spell.system.description }}}
                                </div>
                            </article>
                        {{/each}}
                    </div>
                {{/each}}
            </section>            
        </main>
    </div>
</form>
