:root {
  --swnr-mage-body-bg: #222;
  --primary-color: #eedb5d;
  --primary-color-text: #333;
}
@font-face {
  font-family: "PoiretOne";
  src: url("assets/fonts/PoiretOne-Regular.ttf");
}
@font-face {
  font-family: "Jost";
  src: url("assets/fonts/Jost-Regular.ttf");
}
@font-face {
  font-family: "Jost";
  src: url("assets/fonts/Jost-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Jost";
  src: url("assets/fonts/Jost-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Jost";
  src: url("assets/fonts/Jost-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}


.swnr-body-text p {
  margin-bottom: .75rem;
}

.mage-hotbar-button:disabled {
  opacity: .5;
  cursor: not-allowed;
}

.magic-casting-modal {
  font-family: 'Jost', sans-serif;
  background: var(--swnr-mage-body-bg);
  display:flex;
  flex-direction: row;
  background-image: url(assets/images/dark-rock-wall-seamless-texture-free-105.png);
  background-position: top left;
  background-size: 30rem;
}
.magic-casting-modal h1,
.magic-casting-modal h2 {
  font-family: "PoiretOne", sans-serif;
}
.magic-casting-modal h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: lighter;
}
.magic-casting-modal h2 {
    font-size: 1.4rem;
}
.magic-casting-modal h3 {
    font-size: 1.3rem;
}
.magic-casting-modal header {
    display:flex;
    height:100%;
    align-items: center;
    justify-content: center;
    border-right:1px solid var(--primary-color);
}
.magic-casting-modal header h1 {
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    line-height: 2;
    padding: 2rem 1rem;
}
.magic-casting-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.magic-casting-content fieldset {
  border:1px solid var(--primary-color);
  margin-bottom:.5rem;
  padding:.25rem;
}
.magic-casting-sidebar {
    flex:0;
    min-width: 10rem;
    padding:.5rem;
    background-image: url(assets/images/art-deco-seamless-pattern-design_1319-778.png);
    background-size: 200%;
    background-position: center top;
    border-right: 1px solid var(--primary-color);
}
.magic-casting-spell-list {
    flex:1;
    padding:.5rem;
}
.magic-casting-spells-nav-wrap, .magic-casting-spells-nav {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.magic-casting-spells-nav-wrap {
    margin-bottom:.5rem;
    border-bottom: 1px solid var(--primary-color);
}
.magic-casting-spells-nav-wrap h2 {
    margin-right:1rem;
}
.magic-casting-spells-nav .item, .magic-casting-spells-nav.item {
  background-color: transparent;
  color: var(--primary-color);
  line-height: 1.5;
  padding:.25rem 1rem;
  margin:0 .25rem 0 0;
  border-radius: 0;
  white-space: nowrap;
  transition: all .2s linear;
  text-decoration:none;
  text-decoration-line:none;
  text-shadow: none;
}
.magic-casting-spells-nav .item:hover, .magic-casting-spells-nav .item.active,
.magic-casting-spells-nav.item:hover, .magic-casting-spells-nav.item.active {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-decoration-line: none;
  text-shadow: none;
}
.magic-casting-spell-level-panels {
    overflow-y: auto;
    overflow-x: hidden;
}
.magic-casting-spell-level-panel h3 {
  font-family: 'PoiretOne', sans-serif;
  position:relative;
  text-align: center;
  padding-bottom: .75rem;
  border-bottom: 1px solid var(--primary-color);
  margin-bottom: .75rem;
}

.magic-casting-spell-level-panel h3:after {
  content: '';
  position: absolute;
  left:50%;
  bottom: -.25rem;
  width:.5rem;
  height:.5rem;
  transform: rotate(45deg);
  border:1px solid var(--primary-color);
  background: var(--swnr-mage-body-bg);
}

.magic-casting-spell-level-panel h4 {
    font-family: 'PoiretOne', sans-serif;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: .85rem;
    margin: 0 auto 0.75rem;
}

.magic-casting-spell-level-panel h4 span {
  display:inline-block;
  position: relative;
  border: 1px solid var(--primary-color);
  border-left:none;
  border-right:none;
  padding: 0.25rem 1rem;
  z-index:2;
}

.magic-casting-spell-level-panel h4 span:after {
  content: '';
  position: absolute;
  top:50%;
  margin-top:-.5rem;
  height: 1rem;
  width:calc(100% + 4rem);
  left:-2rem;
  border: 1px solid var(--primary-color);
  border-left:none;
  border-right:none;
  z-index:1;
}

.spell-list-prepared-slot {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom:.5rem;
}

.spell-list-prepared-slot .spell-list-prepared-slot-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.spell-list-prepared-slot .spell-list-prepared-slot-content .spell-list-prepared-slot-img {
  width:3rem;
  height:3rem;
  border:1px solid var(--primary-color);
  border-radius: .25rem;
  background-size: cover;
  background-position: center center;
  margin-right:1rem;
}
.spell-list-prepared-slot.spell-list-prepared-slot-used .spell-list-prepared-slot-content .spell-list-prepared-slot-name,
.spell-list-prepared-slot.spell-list-prepared-slot-used .spell-list-prepared-slot-content .spell-list-prepared-slot-img {
  opacity:.5;
}

.spell-list-prepared-slot .spell-list-prepared-slot-controls {
  font-size: 0.85rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.spell-list-prepared-slot .spell-list-prepared-slot-controls button {
    padding: 0.5rem;
    margin-left: 0.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.magic-casting-spell-def {
  margin-bottom: 1rem;
  border-color: transparent;
  transition: all .4s linear;
}

.magic-casting-spell-def.swnr-mta-collapse-expanded {
  border:1px solid var(--primary-color);
  padding:.5rem;
}

.magic-casting-spell-def-title {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-color: transparent;
}
.magic-casting-spell-def.swnr-mta-collapse-expanded .magic-casting-spell-def-title {
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  border-bottom: 1px solid var(--primary-color);
}

.magic-casting-spell-def-title .magic-casting-spell-def-title-name {
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.magic-casting-spell-def-title .magic-casting-spell-def-img {
  width:2rem;
  height:2rem;
  border: 1px solid var(--primary-color);
  background-size: cover;
  margin-right:.5rem;
}

.magic-casting-spell-def-title h4 {
  flex: 1;
  font-weight: bold;
}
.magic-casting-spell-def-title .magic-casting-spell-def-title-controls {
  flex: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.magic-casting-spell-def-title .magic-casting-spell-def-title-controls button {
  white-space: nowrap;
  font-size:.75rem;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:.5rem;
  margin-left: 0.25rem;
}

.magic-casting-spell-def-description {
  font-size:.8rem;
}

.magic-casting-panel {
  border: 1px solid var(--primary-color);
  margin-bottom: .5rem;
}

.magic-casting-panel-title {
  background: var(--primary-color);
  color:var(--primary-color-text);
  text-align: center;
  padding:.25rem 0;
  text-transform: uppercase;
}
.magic-casting-panel-content {
  padding: .5rem 0;
  background-color: var(--swnr-mage-body-bg);
  background-image: url(assets/images/dark-rock-wall-seamless-texture-free-105.png);
  background-position: top left;
  background-size: 30rem;
}
.magic-casting-panel-content-padding {
  padding:.5rem;
}
.magic-casting-panel-content select.magic-casting-panel-content-field,
.magic-casting-panel-content input[type=text].magic-casting-panel-content-field {
  width:100%;
  border-radius: 0;

}

.magic-casting-content .form-group input.magic-casting-panel-content-field,
.magic-casting-content .form-group select.magic-casting-panel-content-field {
  background-color: var(--swnr-mage-body-bg);
  border: 1px solid var(--primary-color);
  accent-color: var(--primary-color);
  border-radius: 0;
}

button.swnr-mage-improvised-spellcasting-btn {
  margin-bottom: .5rem;
}
.magic-casting-panel-content-stat {
  text-align: center;
  font-size: 2rem;
}
.magic-casting-panel-content.magic-casting-panel-content-controls-right {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:100%;
  padding:0;
}
.magic-casting-panel-content.magic-casting-panel-content-controls-right .magic-casting-panel-content-stat {
  flex:1;
}
.magic-casting-panel-content-controls {
  flex:0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  height:100%;
}
.magic-casting-panel-content-controls button {
  padding:0;
  border-radius: 0;
  padding:0 .25rem;
  height:auto;
  max-height: none;
}

.swnr-mage-chat-roll-wrap {}

.swnr-mage-chat-roll-wrap h2 {}

.swnr-mage-chat-roll-wrap .swnr-mage-chat-roll-dice-formula {
  margin-bottom: .25rem;
}

.swnr-mage-chat-roll-dice-results {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom:.25rem;
}

.swnr-mage-chat-roll-wrap .swnr-mage-chat-roll-dice-formula,
.swnr-mage-chat-roll-wrap .swnr-mage-chat-roll-total-successes {
  background: var(--swnr-mage-body-bg);
  color: #fff;
  padding: 0 .75rem;
  line-height: 2rem;
  font-weight:bold;
  font-size:1.1rem;
  text-align:center;
}
.magic-casting-panel-arcana-row {
  display:flex;
  width:100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top:.5rem;
}
.magic-casting-panel-arcana-row input[type=checkbox] {
  margin:0 .5rem 0 .25rem;
}

.swnr-mage-chat-roll-table tfoot {
  border-top: 1px solid var(--color-border-light-tertiary);
}

.swnr-mage-chat-roll-total-successes small {
  display:block;
}

.swnr-mage-chat-roll-total-successes.swnr-mage-chat-roll-result-exceptional {
  background-color: lime;
  color:#333;
}
.swnr-mage-chat-roll-total-successes.swnr-mage-chat-roll-result-success {
  background-color: green;
}
.swnr-mage-chat-roll-total-successes.swnr-mage-chat-roll-result-failure {
  background-color: red;
}
.swnr-mage-chat-roll-total-successes.swnr-mage-chat-roll-result-dramafail {
  background-color: maroon;
}

.magic-casting-panel-errors {
  list-style-type: none;
  margin:0;
  padding:0;
  /* color: red; */
}
.magic-casting-panel-errors li {
  margin:0;
  padding:0;
}

.magic-casting-panel-controls {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin:0 -.25rem .5rem -.25rem;
}

.magic-casting-panel-controls button {
  margin:0 .25rem 0 .25rem;
}
.magic-casting-panel-controls button[disabled] {
  opacity:.5;
}

.swnr-mage-chat-roll-section-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 1.5rem;
}

.swnr-mage-chat-roll-wrap .dice-result {
  margin-bottom: 0.5rem;
}

.swnr-mage-arcana-list li {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom:.25rem;
}

.swnr-mage-arcana-list li button {
  flex: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:0;
  margin: 0 .5rem 0 0;
  height:1.25rem;
  min-width:1.25rem;
  font-size:.75rem;
  line-height: 1;
  border:1px solid var(--primary-color);
  color: var(--primary-color);
  background: transparent;
  border-radius: 0;
}

.magic-casting-badge {
  font-size: .75em;
  padding: 0 0.5em;
  background: var(--primary-color);
  color: var(--primary-color-text);
  border-radius: 3px;
  line-height: 1.5;
}
.input-mage-sight-arcana:read-only {
  opacity: .75;
  pointer-events: none;
  cursor: not-allowed;
}

/* .swnr-mta-collapse-title */
.swnr-mta-collapse-wrap .swnr-mta-collapse-content {
  display:none;
}

.swnr-mta-collapse-wrap.swnr-mta-collapse-expanded .swnr-mta-collapse-content {
  display:block;
}

.swnr-mta-active-mage-sight-chat {
  font-family: sans-serif;
}
.swnr-mta-collapse-title {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
.swnr-mta-collapse-title span {
  font-size:.75em;
  background: var(--swnr-mage-body-bg);
  color: #fff;
  border-radius: 3px;
  padding:0 .35em;
  font-weight: normal;
  text-transform: uppercase;
}
.swnr-mta-active-mage-sight-chat .swnr-mta-collapse-wrap {
  margin:.5rem 0;
}

ul.swnr-mage-info-list {
  list-style-type: disc;
  margin-left:1rem;
  font-size:.85rem;
}

.yantras-wrap {
  display:flex;
  flex-direction: column;
}

.yantras-wrap .yantra-wrap .yantra-desc {
  font-size:.85em;
  color: #adadad;
}

.window-content fieldset.item-reach {
  position: relative;
  border: 1px solid var(--primary-color);
  padding:.25rem .25rem .25rem 2rem;
  margin-bottom:.25rem;
}

.window-content fieldset.item-reach legend {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  width:1.5rem;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
}

.window-content fieldset.item-reach legend span {
  text-align: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  line-height: 1.5rem;
  padding: .5rem;
}

.window-content fieldset.item-reach .item-btn-reach-remove {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top:0;
  right:0;
  width:1rem;
  height:1rem;
  font-size:2rem;
  line-height: 1rem;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
}

.mta-power-tab {
  border:1px solid var(--primary-color);
  padding:.5rem;
}
.mta-power-tab-mid-head {
  background-color: var(--primary-color-text);
  color: var(--primary-color);
}
ul.mta-active-power-reach-list {
  font-size:.85rem;
  list-style-type: disc;
}

span.badge {
  font-size:.65em;
  border-radius: 3px;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
}

button.swnr-mage-btn {
  background: var(--swnr-mage-body-bg);
  border:3px double var(--primary-color);
  color: var(--primary-color);
  border-radius: 0;
  box-shadow: inset 0.5rem 0.25rem 0.75rem rgba(0, 0, 0, .75);
  transition: all .3s linear;
}

button.swnr-mage-btn:hover {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  border-color: var(--swnr-mage-body-bg);
  box-shadow: inset 0 0 0.25rem rgba(0, 0, 0, .5);
}

.swnr-mage-sight-section {
  border:1px solid var(--primary-color);
  padding:.5rem;
  margin-bottom:1rem;
}
.swnr-mage-sight-section h3 {
  margin-top:.25rem;
}
.swnr-mage-sight-section h4 {
  margin-top: .75rem;
}
.swnr-mage-alert {
  position: relative;
  padding:.5rem .75rem;
  margin: 0 1rem .5rem 1rem;
  border:1px solid var(--primary-color);
}
.swnr-mage-alert:before, .swnr-mage-alert:after {
  content: '';
  position: absolute;
  top:.5rem;
  bottom:.5rem;
  border-left:1px solid var(--primary-color);
}
.swnr-mage-alert:before {
  left: -.5rem;
}
.swnr-mage-alert:after {
  right:-.5rem;
}

.swnr-mage-alert.swnr-mage-alert-info {
  background: linear-gradient(57deg, rgba(45, 157, 180, 1) 0%, rgba(45, 157, 180, 0) 50%);
}

.swnr-mage-alert.swnr-mage-alert-danger {
  background: linear-gradient(57deg, rgb(180, 45, 45) 0%, rgba(180, 45, 45, 0) 50%);
}

.swnr-mage-temp-hp {
  align-items: center;
}
.swnr-mage-temp-hp label {
  font-size:.85rem;
}
.swnr-mage-temp-hp input {
  max-width: 2rem;
  text-align:center;
}